@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  background-color: #f4f4f4;
} */

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

/* body { */
  /* color: #000; */
  /* background-color: #eff1fe; */
/* } */

/* .header#main {
  background-image: url('/public/blurry-gradient-haikei.svg');
  background-position: center;
  background-repeat: no-repeat;
} */
